<h1>Bones.</h1>

<form id="playerForm">

	Players:<br>
	<input class='name' type="text" name="player">
	<br>


	<button id="start">Dominoes!!!!</button>

</form>

<div id="container"></div>
<div id="hands"></div>
<div id="gameboard"></div>