<h1>Bones.</h1>

<form id="playerForm">

	Player 1:<br>
	<input class='name' type="text" name="player1">
	<br>

	Player 2:<br>
	<input class='name' type="text" name="player2">
	<br>

	Player 3:<br>
	<input class='name' type="text" name="player3">
	<br>

	Player 4:<br>
	<input class='name' type="text" name="player4">
	<br>

	<button id="start">Dominoes!!!!</button>

</form>

<div id="container"></div>
<div id="hands"></div>
<div id="gameboard"></div>