<% if session[:current_user_id] %>
	<div class="gamesTable">Join a Game!<br>
	  <% @games.each do |game| %>
	  	<div class="gameItem"><%= link_to "Game " + game.id.to_s, game %></div>
	  <% end %>
	</div>
	<div><%= button_to "Create a New Game", 'games#create' %></div>
<% end %>